.support-padding-fix {
  width: 100%;
  height: 100vh; 
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center; 
}

.support-container {
  background-color: #f5f7f8;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; 
  flex-direction: column; 
}


.row.align-items-center {
  display: flex;
  align-items: center; 
  justify-content: space-between;
  width: 100%;
  height: 100%; 
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}


.col-xl-6,
.col-lg-6 {
  flex: 0 0 50%;
  max-width: 50%;
  padding-right: 15px;
  padding-left: 15px;
  height: 100%; 
}

.support-location-img {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.support-location-img img {
  max-height: 100%;
  width: 100%;
  object-fit: contain;
  border-radius: 10px;
}

.support-img-cap.text-center {
  position: absolute;
  bottom: 100px; 
  background: #1f2b7b;
  padding: 30px 40px; 
  border-radius: 10px; 
  color: white;
  text-align: center;
  font-size: 28px; 
  font-weight: bold;
  left: 4vw;
  transform: translateX(-50%);
}

.support-img-cap.text-center span {
  display: block;
  font-size: 48px; 
  font-weight: bolder;
  margin-top: 10px; 
}

.writing-part {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%; 
  text-align: center;
}

.section-tittle2 h2 {
  font-size: 48px;
  color: #333;
  margin-bottom: 20px;
  line-height: 1.2;
}

.support-caption p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 20px;
}

.pera-top {
  font-weight: bolder;
}

.support-search-btn {
  font-size: 20px; 
  padding: 14px 24px;
  border-radius: 6px;
  background-color: #fb246a;
  transition: transform 0.3s ease, background-color 0.3s ease;
  color: white; 
}

.support-search-btn:hover {
  transform: scale(1.1); 
  background-color: black; 
  color: white; 
  transition: background-color 0.3s ease, color 0.3s ease;
}
